<%- include('partials/_header') %> <%- include('partials/_navbar') %>
<div id="content" class="container bg-dark text-light m-auto mt-3 p-5">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident voluptatum
  facere assumenda eaque sapiente, quo, ducimus, modi eius quidem obcaecati
  quasi. Dicta, quae temporibus. Sunt distinctio totam, fugit fugiat et nemo.
  Neque natus dolore, modi fuga reprehenderit perspiciatis commodi ea ab
  veritatis aliquam illo fugiat quis, optio inventore delectus obcaecati
  consectetur. Quas similique aliquid nesciunt quae odio, ullam deserunt! Eos,
  odio quam sapiente consequuntur error dolores! Optio voluptate molestiae fugit
  hic sunt rerum consequuntur asperiores adipisci obcaecati sit. Tempora, saepe
  error officiis possimus deserunt nisi quos, voluptas fugit amet doloribus
  vitae vel laudantium labore sit dolores reprehenderit maxime id ex excepturi
  totam ullam alias iusto accusantium. Perferendis laboriosam porro nostrum
  animi culpa quae reiciendis neque suscipit exercitationem corrupti assumenda
  quas, aut corporis molestiae, quaerat commodi modi velit repudiandae maiores
  sequi alias praesentium magnam? Dolores alias tempore ratione, consequatur
  quas nostrum neque fuga aliquid inventore dolor odit veniam doloremque non
  nulla, ut vel aut excepturi amet provident omnis molestias? Quasi eaque velit
  pariatur et cumque assumenda voluptatem corporis nisi, labore iusto, rem
  beatae amet, aliquam ducimus voluptas ut saepe nemo officiis sunt harum.
  Recusandae reprehenderit vel sequi nostrum aut quis excepturi magnam. Vero
  quos minus, nihil pariatur quaerat ipsa eaque adipisci ipsam doloribus
  quisquam eveniet laudantium praesentium esse? Sunt exercitationem sit nihil
  doloremque nobis ut obcaecati non consectetur doloribus a autem soluta porro
  ipsum nisi, distinctio officia veritatis quo eligendi quam dicta numquam vero?
  Neque beatae optio blanditiis nulla itaque quasi eius facere, rerum, aperiam
  temporibus eaque labore doloremque non et officiis modi rem? A, animi odio
  dolorem, corrupti soluta esse distinctio officiis expedita iste omnis deserunt
  in unde impedit optio nesciunt. Accusantium quaerat voluptatibus optio ratione
  illo, nihil tenetur libero distinctio voluptatum vero vel. Totam velit eveniet
  doloribus dolores quisquam enim dolorum nulla temporibus cum modi quasi
  placeat, deserunt esse cupiditate iste nam culpa quis voluptas! Quae minima
  architecto possimus accusantium temporibus itaque reprehenderit incidunt qui
  perferendis. Nostrum quidem minus adipisci molestias nisi ab mollitia nesciunt
  libero incidunt rerum facere eveniet, atque ea magni suscipit inventore
  molestiae iste pariatur possimus quae maxime esse animi. Autem, fuga maxime.
  Culpa voluptate ipsa velit corporis, itaque dolor. Minus in error adipisci
  laborum quia deleniti iure at provident qui odio id, dignissimos ipsa?
  Quisquam, illum hic sequi necessitatibus earum temporibus quibusdam eum
  molestiae vero at voluptate recusandae quae adipisci sit culpa ullam pariatur
  beatae esse est. Accusamus iure quo impedit aliquam autem minima vitae esse
  molestias porro, quibusdam, at earum? Possimus numquam harum hic repellat
  dolorem, mollitia, ut corrupti autem, repellendus excepturi quis soluta quo
  nulla! Nulla soluta eaque nostrum, tenetur pariatur, ab quae exercitationem
  labore nam totam possimus aperiam ipsum magnam velit sint sunt beatae
  recusandae maiores quos reprehenderit natus minima optio placeat tempore.
  Voluptatem, beatae eius saepe dignissimos, nisi labore accusamus distinctio,
  quo laboriosam impedit animi. Totam, nostrum corrupti. Quo voluptatum totam
  sint assumenda cum consectetur reprehenderit provident beatae, quod ipsum id
  neque quae in temporibus consequatur necessitatibus, atque, tempora qui?
  Obcaecati asperiores, soluta odio pariatur eveniet facilis quos ab laborum
  iusto!
</div>
<%- include('partials/_footer') %>
