<%- include('partials/_header') %> <%- include('partials/_navbar') %>

<div id="content" class="container bg-dark text-light m-auto mt-3 p-5">
  <div
    id="content"
    class="d-flex justify-content-center bg-dark text-light m-auto"
  >
    <form method="post" action="/user/register">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" />
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>

<%- include('partials/_footer') %>
